## **SETTINGS-004:** Edit Account testing - Email Update with Verification  

> **Summary:** Verify that email update with verification works correctly, including verification email delivery  <br>

**Preconditions:** _None_  

Scenario 1 

 | \# | Step | Expected Behavior | 
 |----|------|-------------------| 
 |  1 |      | Verify that ...   | 
 |  2 |      | Verify that ...   | 
 |  3 |      | Verify that ...   |  

**Post-conditions:**  

 - x  
 - y  
 - z  
